
<body style="background-color: aliceblue">  
  <h2 style="text-align: center; padding: 20px;">Product Details</h2>     
      
      <div class="card container-fluid border background-color:#1e1438;" style="min-height: 520px; width: 1110px;">
        <div class="card-body">
          <div class="row">
            <div style="padding: 30px; background-color:aliceblue ; margin-top: 2%;" class=" col-lg-6 col-md-6 text-left font-weight-bold">
              <h4><b>Product Name: </b> <span class="colour">{{product.productName}}</span></h4><br>
              <h4><b>Product Id: </b> <span class="colour">{{product.productId}}</span></h4><br>
              <h4><b>Product Category: </b><span class="colour">{{product.productCategory}}</span></h4><br>
              <h4><b>Quantity Available: </b><span class="colour">{{product.noOfProducts}}</span></h4><br>
              <h4><b>Product Price: </b><span class="colour">{{product.productPrice}}</span></h4><br>
              <h4><b>Product Rating: </b><span class="colour">{{product.productRating}}</span></h4><br>

            </div>
            <div style="padding-top: 30px; padding-left: 30px;" class="col-lg-6 col-md-6">
                <img src="assets/images/product.jpg" height="350" width="500" alt="Image Not Available"/>
            </div>
          </div>
        </div>
      </div>
  </body>
  
  